/*style.css*/
.news-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the news card vertically */
  height: calc(100vh - 70px - 20px); /* Replace with actual header and bottom nav heights */
  overflow: hidden; /* Prevent overflow */
}

.news-card {
  width: 100%; /* Full width */
  height: 700px; /* Full height of the news-feed */
  display: flex;
  flex-direction: column; /* Align items vertically */
  background: white; /* Background color */
  transition: transform 0.3s ease; /* Smooth transition for swiping */
}

.news-card img {
  width: 100%;
  height: 250px;
}
